# Virtual environment
venv/


# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl


# Logs and temp
*.log
*.tmp
.DS_Store
*.swp

# IDEs and tools
.vscode/
.idea/


# Pytest cache
.pytest_cache/


ds-foundations-python/kaggle.json

*.png
