numpy
pandas
matplotlib
seaborn
jupyterlab
scikit-learn
tensorflow
keras
torch
requests
beautifulsoup4
flask
django
pytest
black
mypy
isort
pylint
notebook
ipython
plotly
statsmodels
sympy
nltk
spacy                       